.main-home {
    background-image: url("../../assets/images/laptop.jpg");
    background-size: 100%;
    height: 100vh;
    display: flex;
}

/**
* Left Side of Homepage
*/
.left-side {
    flex: 2;
    padding: 5em;
}

.main-home h1 {
    color: #FFA9E5;
}

.main-home h3 {
    margin-left: 2em;
    color:#CFCFCF;
}

.main-home p {
    margin-top: 2em;
    color:#CFCFCF;
}

.btn-flat {
    color: #fff!important;
    background-color: #753863!important;
    margin-top: 5em;
    margin-left: 2em;
}

.btn-flat:first-of-type {
    margin-left: 0;
}

.btn-flat:hover {
    background-color: #FFA9E5!important;
}

/**
* Right Side of Homepage
*/

.right-side {
    flex: 1;
}

.myimage {
    height: 100vh;
}