.main-projects {
    padding-bottom: 3em;
}

.main-projects h1 {
    text-align: center;
    padding-top: 2em;
}

.main-projects h3 {
    color: #C271AA;
    padding: 2em;
}

.main-projects h5 {
    color: #878787;
    text-align: start;
    margin-left: 1em;
}

/**
* HT section
*/
.healthtourism-image {
    width: 100%;
    height: auto;
    padding: 2em;
}

/**
* Coursework
*/
.mobileapp-image {
    width: 3em;
    height: 3em;
    margin: 0 auto;
}
